<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Batting_Mapper">
	
	<select id="battingSelectOne" resultType="map">
		SELECT * FROM BATTING JOIN MATCHING USING(MATCHINGID) WHERE BATTINGID = #{battingId}
	</select>
	
	<select id="battingSelect" resultType="Batting">
		SELECT * FROM BATTING WHERE BATTINGID = #{battingId}
	</select>
	
	<select id="battingList" resultType="map">
		SELECT * FROM BATTING JOIN MATCHING USING(MATCHINGID) WHERE BSTATUS = 'N'
	</select>
	
	<select id="battingHistoryList" resultType="map">
		SELECT * FROM BATTING JOIN MATCHING USING(MATCHINGID) WHERE BSTATUS = 'Y'
	</select>
	
	<update id="battingPick" parameterType="map">
		UPDATE BATTING SET 
		<if test='battingSelect == "A"'>
			BATTINGPNUMA = BATTINGPNUMA+1 
		</if><if test='battingSelect == "B"'>
			BATTINGPNUMB = BATTINGPNUMB+1 
		</if>
		WHERE BATTINGID = #{battingId}
	</update>
	
	<select id ="topBattingList" resultType="map">
		SELECT * FROM (SELECT ROWNUM RNUM , B.BATTINGID , B.MATCHINGID,B.BATTINGPNUMA,B.BATTINGPNUMB,B.BSTATUS,M.MTITLE ,M.MWRITER,M.MTIME,C.MIDCATEGORY
		FROM BATTING B , MATCHING M , CATEGORY C
		WHERE M.MATCHINGID = B.MATCHINGID AND C.CATEGORYID = M.CATEGORYID ORDER BY BATTINGID DESC)
		WHERE RNUM<![CDATA[<]]>5
	</select>
	
	
	<select id="battingTotalContents" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM BATTING 
		<where>
			<if test='_parameter != "A"'> BSTATUS = #{bstatus}</if>
		</where>
	</select>
	

	<insert id="battingPickUser" parameterType="BattingUser">
		INSERT INTO BATTINGUSER VALUES (#{battingId},#{userName},#{battingSelect})
	</insert>
	
	<select id="battingPickCheck" parameterType="BattingUser" resultType="BattingUser">
		SELECT * FROM BATTINGUSER WHERE BATTINGID = #{battingId} AND USERNAME = #{userName}
	</select>
		
	<update id="battingClose">
		UPDATE BATTING SET BSTATUS = 'Y' WHERE BATTINGID = #{battingId}
	</update>
	
	<insert id="battingInsert" parameterType="_int">
		INSERT INTO BATTING VALUES(SEQ_BATTING.NEXTVAL,SEQ_MATCHINGID.CURRVAL,0,0,DEFAULT,'N')
	</insert>
	
	<select id="battingWinner" parameterType="map" resultType="map">
		SELECT USERNAME, USERNO FROM BATTINGUSER JOIN MEMBER USING(USERNAME)JOIN BATTING USING(BATTINGID) WHERE BATTINGID = #{battingId} AND BATTINGSELECT = #{battingType} AND BSTATUS = 'N'
	</select>
	
	<update id="battingPoint" parameterType="map">
		UPDATE MEMBER SET POINT = POINT + #{alloc} WHERE USERNAME = #{USERNAME}
	</update>
	
	<select id="myBattingList" resultType="map">
		SELECT * FROM (SELECT * FROM BATTING JOIN MATCHING USING(MATCHINGID)JOIN BATTINGUSER USING(BATTINGID)) JOIN CATEGORY USING(CATEGORYID) WHERE userName= #{userName} ORDER BY BATTINGID
	</select>
	
	<update id="winnerUpdate" parameterType="map">
		UPDATE BATTING SET WIN = #{winnerChk} WHERE battingID = #{battingId}
	</update>
	
	<select id="checkBattingId" resultType="_int">
		SELECT * FROM BATTING WHERE matchingId = #{matchingId}
	</select>

</mapper>
