<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Batting_Mapper">
	
	<select id="battingSelect" resultType="Batting">
		SELECT * FROM BATTING WHERE BATTINGID = #{battingId}
	</select>
	
	<select id="battingList" resultType="Batting">
		SELECT * FROM BATTING WHERE BSTATUS = 'N'
	</select>
	
	<update id="battingPick" parameterType="map">
		UPDATE BATTING SET 
		<if test='battingSelect == "A"'>
			BATTINGPNUMA = BATTINGPNUMA+1 
		</if><if test='battingSelect == "B"'>
			BATTINGPNUMB = BATTINGPNUMB+1 
		</if>
		WHERE BATTINGID = #{battingId}
	</update>

	<insert id="battingPickUser" parameterType="BattingUser">
		INSERT INTO BATTINGUSER VALUES (#{battingId},#{userName},#{battingSelect})
	</insert>
	
	<select id="battingPickCheck" parameterType="BattingUser" resultType="BattingUser">
		SELECT * FROM BATTINGUSER WHERE BATTINGID = #{battingId} AND USERNAME = #{userName}
	</select>
	
	<select id="battingHistoryList" resultType="Batting">
		SELECT * FROM BATTING WHERE BSTATUS = 'Y'
	</select>
	
	<update id="battingClose">
		UPDATE BATTING SET BSTATUS = 'Y' WHERE BATTINGID = #{battingId}
	</update>
	
	<insert id="battingInsert" parameterType="_int">
		INSERT INTO BATTING VALUES(SEQ_BATTING.NEXTVAL,3,0,0,DEFAULT)
	</insert>
	
	<select id="battingWinner" parameterType="Batting" resultType="Map">
		SELECT * FROM BATTINGUSER JOIN MEMBER USING(USERNAME)JOIN BATTING USING(BATTINGID) WHERE BATTINGID = ${battingId} AND BATTINGSELECT = ${battingType};
	</select>

</mapper>
