<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="board">
	<resultMap type="map" id="board" />
	<resultMap type="BoardFile" id="boardFile" />

	<!-- <select id="selectBoardList" resultMap="map"> -->
	<!-- vo를 사용하는 경우 -->
	<select id="selectBoardList" resultType="board">
		SELECT A.*, (SELECT COUNT(*) FROM BOARD_COMMENT 
					 WHERE BOARDNO = A.BOARDNO AND COMMENTSTATUS = 'Y') COMMENTCOUNT,			 
					 (SELECT COUNT(*) FROM REPORT WHERE BOARDNO = A.BOARDNO) REPORTCOUNT
		FROM
		BOARD A
		WHERE BOARDSTATUS = 'Y'
		ORDER BY BOARDNO DESC, BOARDDATE DESC
	</select>
	<select id="selectBoardTotalContents" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE BOARDSTATUS = 'Y'
	</select>
	<select id="selectOneBoard" parameterType="_int"
		resultType="Board">
		SELECT A.*, (SELECT COUNT(*)
             		 FROM REPORT WHERE BOARDNO = A.BOARDNO) REPORTCOUNT  
		FROM BOARD A WHERE BOARDNO = #{boardNo}
	</select>
	<insert id="insertBoard">
		INSERT INTO BOARD(BOARDNO, BOARDTITLE, BOARDCONTENT, USERNAME, BOARDCOUNT, BOARDDATE, BOARDSTATUS)
		VALUES
		(SEQ_BOARDNO.NEXTVAL, #{boardTitle}, #{boardContent}, #{userName}, DEFAULT, DEFAULT, DEFAULT)
		<!-- 전달한 board객체의 boardNo 프로퍼티에 결과값을 담는다. -->
		<selectKey keyProperty="boardNo" resultType="_int"
			order="AFTER">
			SELECT SEQ_BOARDNO.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	<insert id="insertBoardFile" parameterType="BoardFile">
		<!-- 다른방식 -->
		<selectKey keyProperty="boardNo" resultType="_int"
			order="BEFORE">
			SELECT SEQ_BOARDNO.CURRVAL FROM DUAL
		</selectKey>
		INSERT INTO BOARDFILE(FILEID,BOARDNO,MHISTORYID,ORIGINNAME,CHANGENAME)
		VALUES (SEQ_FILEID.NEXTVAL, #{boardNo}, DEFAULT, #{originName}, #{changeName})
	</insert>

	<select id="selectBoardFileList" parameterType="_int"
		resultMap="boardFile">
		SELECT FILEID,BOARDNO,MHISTORYID,ORIGINNAME,CHANGENAME,substr(changename, instr(changename,'.')) extension FROM BOARDFILE WHERE BOARDNO = #{boardNo}
	</select>
	<update id="updateBoard" parameterType="Board">
		UPDATE BOARD SET BOARDTITLE = #{boardTitle}, BOARDCONTENT = #{boardContent}, BOARDDATE = DEFAULT
		WHERE BOARDNO = #{boardNo}
	</update>
	<insert id="updateBoardFile" parameterType="BoardFile">
		INSERT INTO BOARDFILE(FILEID,BOARDNO,MHISTORYID,ORIGINNAME,CHANGENAME)
		VALUES (SEQ_FILEID.NEXTVAL, #{boardNo}, DEFAULT, #{originName}, #{changeName})
	</insert>
	<delete id="deleteBoard" parameterType="_int">
		UPDATE BOARD SET BOARDSTATUS = 'N'
		WHERE BOARDNO = #{boardNo} 
	</delete>
	
	<delete id="deleteBoardFile" parameterType="_int"> 
		DELETE FROM BOARDFILE WHERE BOARDNO = #{boardNo}
	</delete>
	
	<delete id="deleteBoardFileOne" parameterType="_int"> 
		DELETE FROM BOARDFILE WHERE FILEID = #{fileId}
	</delete>
	
	<update id="updateViewCount" parameterType="_int">
		UPDATE BOARD SET BOARDCOUNT = BOARDCOUNT + 1
		WHERE BOARDNO = #{boardNo}
	</update>
	
	<select id="searchBoard" parameterType="hashMap" resultType="board">
		SELECT A.*, (SELECT
		COUNT(*) FROM BOARD_COMMENT WHERE BOARDNO = A.BOARDNO
        AND COMMENTSTATUS = 'Y') COMMENTCOUNT
		FROM
		BOARD A
		<bind name="myPattern" value="'%'+keyword+'%'" />
		<where>
			<if test="condition == 'writer'"> USERNAME LIKE #{myPattern}</if>
			<if test="condition == 'title'"> BOARDTITLE LIKE #{myPattern}</if>
			<if test="condition == 'content'"> BOARDCONTENT LIKE #{myPattern}</if>
		</where>
		AND BOARDSTATUS = 'Y'
		ORDER BY BOARDDATE DESC, BOARDNO DESC
	</select>
	
	<insert id="insertBoardReport" parameterType="Report">
		INSERT INTO REPORT(BOARDNO, USERNAME, CATEGORY, REPORTCONTENT)
		VALUES (#{boardNo}, #{userName}, #{category}, NVL(#{reportContent},' '))
	</insert>
	
	<select id="selectReportCheck" parameterType="map" resultType="Report">
		SELECT * FROM REPORT WHERE BOARDNO = #{boardNo} AND USERNAME = #{userName}
	</select>
	
	<select id="selectBoardTop7List" resultType="board">
		SELECT A.*, (SELECT COUNT(*) FROM BOARD_COMMENT 
					 WHERE BOARDNO = A.BOARDNO AND COMMENTSTATUS = 'Y') COMMENTCOUNT,			 
					 (SELECT COUNT(*) FROM REPORT WHERE BOARDNO = A.BOARDNO) REPORTCOUNT
		FROM
		BOARD A
		<![CDATA[
		WHERE BOARDSTATUS = 'Y' AND ROWNUM < 8
		ORDER BY BOARDNO DESC, BOARDDATE ASC
		]]>
	</select>
</mapper>
