<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chat">
<resultMap type="ChattingLog" id="chatLog">
	<id property="chattingId" column="CHATTINGID"/>
	<result property="userNo" column="USERNO"/>
	<result property="chDate" column="CHDATE"/>
	<result property="chContent" column="CHCONTENT"/>
	<result property="chStatus" column="CHSTATUS"/>
	<result property="chattingName" column="CHATTINGNAME"/>
	
</resultMap>

	<select id="selectCahtList" parameterType="int"	resultType = "Chatting">
		select CHATTINGID,CHATTINGNAME
		from (select CHATTINGID,CHATTINGNAME,(select O.USERNO1 from	CHATTING_ONE O where L.CHATTINGID= O.CHATTINGID and	O.USERNO1=#{userNo}) no1,
											 (select O.USERNO2 from CHATTING_ONE O where L.CHATTINGID= O.CHATTINGID	and O.USERNO2=#{userNo}) no2,
											 (select G.USERNO from CHATTING_GROUP G where L.chattingid = G.CHATTINGID and G.USERNO=#{userNo}) no3
			from CHATTINGLIST L
		)T where no1=#{userNo} or no2=#{userNo} or no3=#{userNo}
	</select>
	<select id="isChat" parameterType="Map" resultType="Chatting">
		select * from
		CHATTINGLIST
		where CHATTINGID=(select CHATTINGID from CHATTING_ONE
		where (userno1=(select userno from MEMBER where username=#{myName})
		or
		userno2=(select userno from MEMBER where username=#{myName}))
		and
		(userno1=(select userno from MEMBER where username=#{userName})
		or
		userno2=(select userno from MEMBER where username=#{userName}))
		)

	</select>
	<select id="selectMember" parameterType="int"
		resultType="Member">
		select * from Member where userno != #{userName}
	</select>
	<select id="selectChat" parameterType="int" resultType="Chatting">
		select * from ChattingList where CHATTINGID=#{chattingId}
	</select>
	<select id="selectChatLastLog" parameterType="int" resultMap="chatLog">
		select LG.CHATTINGID CHATTINGID,userNo,chDate,chContent,chstatus,(select NVL(CHATTINGNAME,
                                                                                       (select (select M.USERNAME from MEMBER M where M.USERNO= case when T.USERNO1=#{userNo} then USERNO2 
                                                                                                                                                                  else USERNO1 end) username
                                                                                        from (select * from CHATTING_ONE where USERNO1=#{userNo} or USERNO2 = #{userNo})T
                                                                                        where T.CHATTINGID=L.CHATTINGID
                                                                                         )
                                                                               )  
                                                                  from CHATTINGLIST L 
                                                                  where LG.chattingId=L.CHATTINGID) CHATTINGNAME
		from (select Chattingid,Userno,Chcontent,Chstatus,Chdate,max(Chdate)over(Partition by Chattingid)mindate from Chattinglog) Lg 
		where Chdate=mindate
		and Chattingid in(  select CHATTINGID
		                    from (select CHATTINGID,(select O.USERNO1 from	CHATTING_ONE O where L.CHATTINGID= O.CHATTINGID and	O.USERNO1=#{userNo}) no1,
		                                            (select O.USERNO2 from CHATTING_ONE O where L.CHATTINGID= O.CHATTINGID	and O.USERNO2=#{userNo}) no2,
		                                            (select G.USERNO from CHATTING_GROUP G where L.chattingid = G.CHATTINGID and G.USERNO=#{userNo}) no3
		                        from CHATTINGLIST L
		                    )T where no1=#{userNo} or no2=#{userNo} or no3=#{userNo})
		 order by chDate desc
	</select>
	<select id="selectChatLogList" parameterType="_int" resultType="ChattingLog">
		select *from ChattingLog where chattingId=#{chatNo} order by chdate
	</select>
	<select id="selectChatAlam" parameterType="Map" resultType="_int">
		 SELECT COUNT(*) FROM CHATTINGLOG WHERE CHSTATUS='N' AND CHATTINGID = #{chatId} AND USERNO!=#{userNo}
	</select>
	<select id="selectChatMember" parameterType="Map" resultType="ChatUser">
		select Chattingid,case when userno1=#{userNo} 
						  then (select M.Username from Member M where M.Userno=O.Userno2)else
                               (select M.Username from Member M where M.Userno=O.Userno1)
                  end username
		from CHATTING_ONE O where CHATTINGID=#{chatNo}
	</select>
	<select id="selectChatMembers" parameterType="Map" resultType="ChatUser">
		select Chattingid,(select M.Username from Member M where M.Userno=G.Userno)username from Chatting_Group G where Chattingid=#{chatNo} and Userno!=#{userNo}
	</select>
	<select id="getChatName" parameterType="Map" resultType="String">
	select nvl(L.CHATTINGNAME,case when(select O.USERNO1 from CHATTING_ONE O where o.chattingid = L.CHATTINGID)=#{userNo} 
                                             then (select (select M.USERNAME from MEMBER M where M.USERNO=O.USERNO2) userName from CHATTING_ONE O where o.chattingid = L.CHATTINGID) else
                                                (select (select M.USERNAME from MEMBER M where M.USERNO=O.USERNO1) userName  from CHATTING_ONE O where o.chattingid = L.CHATTINGID) 
                                             end) chatname 
	from CHATTINGLIST L
	where L.CHATTINGID = #{chatNo}
	</select>


	<insert id="insertChatLog" parameterType="ChattingLog">
		insert into ChattingLog
		values(#{chattingId},#{userNo},default,#{chContent},#{chStatus})
	</insert>
	<insert id="insertChat" parameterType="HashMap">
		insert all
		into
		CHATTINGLIST VALUES(seq_chat.nextval ,null)
		into CHATTING_ONE
		VALUES(seq_chat.currval ,(select userno from MEMBER
		where
		username=#{myName}),(select userno from MEMBER where
		username=#{userName}))
		select *
		from dual
	</insert>




</mapper>