<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chat">

	<select id="selectCahtList" parameterType="String" resultType="Chatting">
		select * from Chatting where username1 = #{userName} or username2=#{userName}
	</select>
	
	<insert id="insertChatLog" parameterType="ChattingLog">
		insert into ChattingLog values(#{chattingId},#{userName},default,#{chContent},#{chStatus})
	</insert>





</mapper>