<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chat">
<resultMap type="ChattingLog" id="chatLog">
	<id property="chattingId" column="CHATTINGID"/>
	<result property="userNo" column="USERNO"/>
	<result property="chDate" column="CHDATE"/>
	<result property="chContent" column="CHCONTENT"/>
	<result property="chStatus" column="CHSTATUS"/>
	<result property="chattingName" column="CHATTINGNAME"/>
	
</resultMap>

	<select id="selectCahtList" parameterType="int"	resultType = "Chatting">
		select CHATTINGID,CHATTINGNAME
		from (select CHATTINGID,CHATTINGNAME,(select O.USERNO1 from	CHATTING_ONE O where L.CHATTINGID= O.CHATTINGID and	O.USERNO1=#{userNo}) no1,
											 (select O.USERNO2 from CHATTING_ONE O where L.CHATTINGID= O.CHATTINGID	and O.USERNO2=#{userNo}) no2,
											 (select G.USERNO from CHATTING_GROUP G where L.chattingid = G.CHATTINGID and G.USERNO=#{userNo}) no3
			from CHATTINGLIST L
		)T where no1=#{userNo} or no2=#{userNo} or no3=#{userNo}
	</select>
	<select id="isChat" parameterType="Map" resultType="Chatting">
		select * from
		CHATTINGLIST
		where CHATTINGID=(select CHATTINGID from CHATTING_ONE
		where (userno1=(select userno from MEMBER where username=#{myName})
		or
		userno2=(select userno from MEMBER where username=#{myName}))
		and
		(userno1=(select userno from MEMBER where username=#{userName})
		or
		userno2=(select userno from MEMBER where username=#{userName}))
		)

	</select>
	<select id="selectMember" parameterType="int"
		resultType="Member">
		select * from Member where userno != #{userName}
	</select>
	<select id="selectChat" parameterType="int" resultType="Chatting">
		select * from ChattingList where CHATTINGID=#{chattingId}
	</select>
	<select id="selectChatLastLog" parameterType="int" resultMap="chatLog">
		select * from (select LG.CHATTINGID CHATTINGID,userNo,chDate,chContent,chstatus,(select CHATTINGNAME from CHATTINGLIST L where LG.chattingId=L.CHATTINGID) CHATTINGNAME from CHATTINGLOG LG where CHATTINGID=#{chattingId} and CHSTATUS='N' order by CHDATE desc)where rownum=1
	</select>


	<insert id="insertChatLog" parameterType="ChattingLog">
		insert into ChattingLog
		values(#{chattingId},#{userNo},default,#{chContent},#{chStatus})
	</insert>
	<insert id="insertChat" parameterType="HashMap">
		insert all
		into
		CHATTINGLIST VALUES(seq_chat.nextval ,null)
		into CHATTING_ONE
		VALUES(seq_chat.currval ,(select userno from MEMBER
		where
		username=#{myName}),(select userno from MEMBER where
		username=#{userName}))
		select *
		from dual
	</insert>




</mapper>