<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Matching">
	<resultMap type="map" id="MatchingList">
		<result property="matchingId" column="MATCHINGID"/>
		<result property="mTitle" column="MTITLE"/>
		<result property="mContent" column="MCONTENT"></result>
		<result property="mPeoplenum" column="MPEOPLENUM"></result>
		<result property="locationId" column="LOCATIONID"></result>
		<result property="categoryId" column="CATEGORYID"></result>
		<result property="mWriter" column="MWRITER"></result>
		<result property="mGuest" column="MGUEST"></result>
		<result property="mtime" column="MTIME"></result>
		<result property="mStatus" column="MSTATUS"></result>
		<result property="bigCategory" column="BIGCATEGORY"></result>
		<result property="midCategory" column="MIDCATEGORY"></result>
		<result property="bigLocation" column="BIGLOCATION"></result>
		<result property="midLocation" column="MIDLOCATION"></result>
		<result property="smallCategory" column="SMALLCATEGORY"></result>
		<result property="battingId" column="BATTINGID"></result>
	</resultMap>

	<select id="myMatchingList" parameterType="map" resultType="MatchingObj">
	<if test="type=='ing'">
		SELECT * FROM MATCHING JOIN CATEGORY USING(CATEGORYID) JOIN LOCATION USING(LOCATIONID) WHERE (MSTATUS = 'BEFORE' or MSTATUS = 'ING' )AND MWRITER = #{userName}
	</if>
	<if test="type=='end'">
		SELECT * FROM MATCHING JOIN CATEGORY USING(CATEGORYID) JOIN LOCATION USING(LOCATIONID) WHERE MSTATUS = 'AFTER' AND MWRITER = #{userName}
	</if>
	<if test="type=='apply'">
		select M.MATCHINGID,M.MTITLE,M.MCONTENT,M.MPEOPLENUM,M.MWRITER,M.MGUEST,M.MTIME,M.MSTATUS,M.BIGCATEGORY,M.MIDCATEGORY,M.BIGLOCATION,M.MIDLOCATION,M.SMALLCATEGORY 
		from (select Matchingid from Matchingcondition where Mguest=#{userName})t1 join (select * from (SELECT * FROM MATCHING JOIN CATEGORY USING(CATEGORYID) JOIN LOCATION USING(LOCATIONID)) )m on M.Matchingid=t1.Matchingid
	</if>
	</select>

	<select id="myMatchingEndList" resultType="Map">
		SELECT * FROM MATCHING JOIN CATEGORY USING(CATEGORYID) JOIN LOCATION USING(LOCATIONID) WHERE MSTATUS = 'AFTER' AND MWRITER = #{userName}
	</select>
	
	<select id="mHistoryList" resultType="Map">
		SELECT * FROM (SELECT * FROM MATCHINGHISTORY JOIN MATCHING USING(MATCHINGID)) JOIN CATEGORY USING(CATEGORYID) JOIN LOCATION USING(LOCATIONID) ORDER BY MHISTORYID desc
	</select>
	

	<insert id="insertMatching" parameterType="Matching">
		INSERT INTO MATCHING VALUES(
			SEQ_MATCHINGID.NEXTVAL, #{mTitle}, 
			#{mContent}, #{mPeoplenum}, #{locationId}, 
			#{categoryId}, #{mWriter}, NULL, #{mtime}, DEFAULT 
			)
	</insert>

	<select id="mHistorySelectOne" resultType="Map">
		SELECT * FROM MATCHINGHISTORY JOIN MATCHING USING(MATCHINGID) WHERE MHISTORYID =#{mHistoryId}
	</select>
	
	<select id="matchingSelectOne" resultMap="MatchingList">
		SELECT *
		FROM MATCHING M, BATTING B
		WHERE M.MATCHINGID = B.MATCHINGID(+)
		AND M.MATCHINGID = #{matchingId}
	</select>
	
	<select id="matchingSelectList" parameterType="string" resultMap="MatchingList">
		<!-- SELECT * FROM MATCHING WHERE CATEGORYID LIKE #{cat} || '%' -->
		SELECT  M.MATCHINGID,C.BIGCATEGORY, C.MIDCATEGORY , M.MTITLE,  L.BIGLOCATION, L.MIDLOCATION, L.SMALLCATEGORY,
        M.MPEOPLENUM, M.CATEGORYID, M.MWRITER, M.MGUEST, M.MTIME, M.MSTATUS, B.BATTINGID
		FROM MATCHING M, LOCATION L, CATEGORY C, BATTING B
		WHERE M.LOCATIONID = L.LOCATIONID
		AND M.CATEGORYID = C.CATEGORYID
		AND M.MATCHINGID = B.MATCHINGID(+)
		AND M.CATEGORYID LIKE #{cat} || '%' ORDER BY 1 DESC
	</select>
	<select id="topMatchingList" parameterType="String" resultType="MatchingObj">
		 select * from (SELECT  ROWNUM rnum,M.MATCHINGID,C.BIGCATEGORY, C.MIDCATEGORY , M.MTITLE,  L.BIGLOCATION, L.MIDLOCATION, M.MWRITER, M.MTIME
		FROM MATCHING M, LOCATION L, CATEGORY C
		WHERE M.LOCATIONID = L.LOCATIONID
		AND M.CATEGORYID = C.CATEGORYID
        AND M.CATEGORYID LIKE #{cat} || '%'
        and  M.MGUEST is null
        order by MATCHINGID)
        where rnum<![CDATA[<]]>5
	</select>
	
	<select id="selectMhTop7List" resultType="Map">
		SELECT A.*
		FROM
		(SELECT * FROM MATCHINGHISTORY 
        JOIN MATCHING USING(MATCHINGID)
        WHERE MHSTATUS = 'Y'
        ORDER BY MATCHINGID DESC) A
        <![CDATA[
		WHERE ROWNUM < 11
		]]>
	</select>
	
	<insert id="mHistoryInsert">
		INSERT INTO MATCHINGHISTORY VALUES(SEQ_MHISTORYID.NEXTVAL , #{matchingId} ,#{userName} ,#{mhContent}, DEFAULT , DEFAULT)
	</insert>
	
		<insert id="insertmHistoryFile" parameterType="BoardFile">
		<!-- 다른방식 -->
		<selectKey keyProperty="mhistoryId" resultType="_int"
			order="BEFORE">
			SELECT SEQ_MHISTORYID.CURRVAL FROM DUAL
		</selectKey>
		INSERT INTO BOARDFILE(FILEID,BOARDNO,MHISTORYID,ORIGINNAME,CHANGENAME)
		VALUES (SEQ_FILEID.NEXTVAL, DEFAULT, #{mhistoryId}, #{originName}, #{changeName})
	</insert>
	
	<select id="matchingDetail" parameterType="Map" resultType="MatchingObj">
		SELECT  M.MATCHINGID,C.BIGCATEGORY, C.MIDCATEGORY , M.MTITLE,  L.BIGLOCATION, L.MIDLOCATION, L.SMALLCATEGORY,m.mguest,
        M.MPEOPLENUM, M.CATEGORYID, M.MWRITER,(select MC.MGUEST from Matchingcondition MC where MC.MATCHINGID= M.MATCHINGID and MC.MGUEST=#{userName}) MApplicant, M.MTIME, M.MSTATUS, M.MCONTENT
		FROM MATCHING M, LOCATION L, CATEGORY C
		WHERE M.LOCATIONID = L.LOCATIONID
		AND M.CATEGORYID = C.CATEGORYID
		AND M.MATCHINGID = #{matNum}
	</select>
	<select id="countMatchingCon" parameterType="String" resultType="_int">
		 select count(*) from Matchingcondition where Mwriter=#{userName}  and MSTATUS='1WAITING' 
	</select>
	
	<select id="matchingConditions" parameterType="_int" resultType="MatchingCondition">
		select * from matchingcondition where matchingid= #{matchingId} order by MSTATUS
	</select>
	
	<select id="mHistoryContentCount" resultType="_int" >
		SELECT COUNT(*) FROM MATCHINGHISTORY WHERE MHSTATUS = 'Y'
	</select>
	
	<insert id="matchingRequest">
		INSERT INTO MATCHINGCONDITION VALUES (SEQ_MCONID.NEXTVAL, #{matchingId}, #{mWriter}, #{mGuest}, #{mContent}, DEFAULT)
	</insert>
	
	<select id="matchingSearch" parameterType="Map" resultMap="MatchingList">
		SELECT * FROM MATCHING
		JOIN LOCATION USING (LOCATIONID)
		JOIN CATEGORY USING (CATEGORYID)
		WHERE CATEGORYID = (SELECT CATEGORYID FROM CATEGORY WHERE BIGCATEGORY = #{firstCate} AND MIDCATEGORY= #{category})
		AND MPEOPLENUM BETWEEN #{firstPeople} AND #{lastPeople}
		AND TO_DATE(SUBSTR(MATCHING.MTIME, 1, 10), 'YYYY-MM-DD') BETWEEN TO_DATE(#{startDate}, 'YYYY-MM-DD') AND TO_DATE(#{finishDate}, 'YYYY-MM-DD')
		<if test="searchList.size != 0">
			AND (LOCATIONID IN (
			<foreach item="item" index="index" collection="searchList"  separator="))OR LOCATIONID IN(" close=")">
				<choose>
					<when test="item.smallCategory == null and item.midLocation == null or item.midLocation == ''">
						(SELECT LOCATIONID FROM LOCATION WHERE BIGLOCATION = #{item.bigLocation}
					</when>
					<when test="item.bigLocation != null and item.smallCategory == null">
						(SELECT LOCATIONID FROM LOCATION WHERE BIGLOCATION = #{item.bigLocation} AND MIDLOCATION = #{item.midLocation}
					</when>
					<otherwise>
						 (SELECT LOCATIONID FROM LOCATION WHERE BIGLOCATION = #{item.bigLocation} AND SMALLCATEGORY = #{item.smallCategory}
					</otherwise>
				</choose>
			</foreach>
			))			
		</if>
	</select>

	<update id="matchingAccept" parameterType="_int">
		update matchingcondition set mstatus='3ACCECPT' where mconid=#{conId}
	</update>
	<update id="matchingDecline" parameterType="_int">
		update matchingcondition set mstatus='2DECLINE' where mconid=#{conId}
	</update>
	<update id="matchingDeclineAll" parameterType="_int">
		update matchingcondition set mstatus='2DECLINE' where mconid!=#{conId} AND matchingId=#{matchingId}
	</update>
	

</mapper>