<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Matching">


	<select id="myMatchingList" resultType="Map">
		SELECT * FROM MATCHING JOIN CATEGORY USING(CATEGORYID) JOIN LOCATION USING(LOCATIONID) WHERE MSTATUS = 'BEFORE'
	</select>

	<select id="myMatchingEndList" resultType="Map">
		SELECT * FROM MATCHING JOIN CATEGORY USING(CATEGORYID) JOIN LOCATION USING(LOCATIONID) WHERE MSTATUS = 'AFTER'
	</select>
	

	<insert id="insertMatching" parameterType="Matching">
		INSERT INTO MATCHING VALUES(
			SEQ_MATCHINGID.NEXTVAL, #{mTitle}, 
			#{mContent}, #{mPeoplenum}, #{locationId}, 
			#{categoryId}, #{mWriter}, 'NONE', #{mtime}, DEFAULT 
			)
	</insert>
	<select id="mHistorySelectOne" resultType="MatchingHistory">
		SELECT * FROM MATCHINGHISTORY WHERE MHISTORYID = #{mHistoryId}
	</select>
	
	<select id="matchingSelectOne" resultType="Matching">
		SELECT * FROM MATCHING WHERE MATCHINGID = #{matchingId}
	</select>
	
	<insert id="mHistoryInsert">
		INSERT INTO MATCHINGHISTORY VALUES(SEQ_MHISTORYID.NEXTVAL , #{matchingId} ,#{userName} ,#{mhContent}, DEFAULT , DEFAULT)
	</insert>
	
		<insert id="insertmHistoryFile" parameterType="BoardFile">
		<!-- 다른방식 -->
		<selectKey keyProperty="mhistoryId" resultType="_int"
			order="BEFORE">
			SELECT SEQ_MHISTORYID.CURRVAL FROM DUAL
		</selectKey>
		INSERT INTO BOARDFILE(FILEID,BOARDNO,MHISTORYID,ORIGINNAME,CHANGENAME)
		VALUES (SEQ_FILEID.NEXTVAL, DEFAULT, #{mhistoryId}, #{originName}, #{changeName})
	</insert>
	
</mapper>