<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Namespace 는 실제 마이바티스를 통해
    SQL에 접근할 때 사용하는 매퍼 파일의 별칭이다. 
    보통 서비스의 이름과 같게 설정하여
    연결의 착오를 줄인다. -->
<mapper namespace="point">

	<insert id="insertPoint" parameterType="Point">
		INSERT INTO POINT VALUES(
		 #{userNo},#{increasePoint},DEFAULT,#{pContent}
		)
	</insert>
	
	<insert id="inserAttendence" parameterType="Attendence">
		INSERT INTO ATTENDENCE VALUES(
		SEQ_ATT.NEXTVAL,#{userNo},DEFAULT,#{att_point}
		)
	</insert>
	
	<select id="selectAtt" parameterType="int" resultType="Attendence">
		SELECT * FROM ATTENDENCE
		WHERE USERNO = #{userNo} 
		and extract(month from att_date) = (SELECT extract(month from sysdate) FROM dual)
	</select>
	
	<select id="selectAttCnt" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM ATTENDENCE
		WHERE USERNO = #{userNo}
		and extract(month from att_date) = (SELECT extract(month from sysdate) FROM dual)
	</select>
	
	<select id="getCount" parameterType="Point" resultType="_int">
		select count(*) from point 
		where userNo = #{userNo} and pContent = #{pContent} 
		and TO_CHAR(to_date(pdate,'YY-MM-DD'), 'yyyy/mm/dd') = (SELECT TO_CHAR(to_date(sysdate,'YY-MM-DD'), 'yyyy/mm/dd') FROM dual)
	</select>


</mapper>







